h1{
    text-align: center;
    color: purple;
    text-decoration: wavy;
}
body{
    background-image: url("citation.jpg");


}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
}